body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1321px;
    height: 646px;
    border-radius: 20px;
    margin: 50px 110px;
    justify-content: center;
    color: #FFFFFF;
    background-color: black;
}

.container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
}

.container a .fa-light {
    font-size: 20px;
    font-weight: 400;
}

.container img {
    width: 650px;
    height: 646px;
}

/*------------------
 Cover page article
 ------------------ */
.cover-page {
    width: 531px;
    height: 424px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 106px;
    margin-bottom: 111px;

}

.cover-page p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;
}

/*--------------
 Menu Bar Styles
 ---------------*/
main {
    display: flex;
    justify-content: center;
}

.main-body {
    display: flex;
    margin: 74px 110px;
}

.menu {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 240px;
    padding: 30px;
    margin-right: 10px;
}

.menu p {
    display: block;
    text-align: center;
    background-color: white;
    padding: 17px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    transition: background-color 0.5s ease-in-out;

}

.menu p:first-child {
    margin-top: 0;
}

.menu p:hover {
    background-color: #DD0000;
}

.menu p a {
    text-decoration: none;
    color: black;
}

/*----------------------
 Grid Container part start
 ----------------------- */
.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.fixture {
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    width: 300px;
    height: 230px;
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 20px 20px;
}

.fixture img {
    width: 90px;
    height: 55px;
}

.flag-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.date-time {
    font-size: 14px;
    font-weight: 400;
}

/*--------------------
 Footer part start  
 --------------------*/
footer {
    color: #FFFFFF;
    background-color: black;
    padding-top: 130px;
    padding-bottom: 30px;
}

footer h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.services {
    color: #B9B9B9;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    font-weight: 500;
}

.services span {
    margin-right: 15px;
}

/* Personal Link */
.personal-links {
    display: flex;
    justify-content: center;
}

.personal-links span {
    padding: 0 10px;
}

.fa-brands {
    color: #FFFFFF;
    font-size: 24px;
}

/* Tablet responsive start */
@media only screen and (max-width: 992px) {
    header .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    header .container h1 {
        font-size: 43px;
    }

    header .container img {
        width: 100%;
        height: 100%;
    }

    main .main-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 20px;
    }

    main .main-body .grid-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 10px;
        padding-top: 10px;
    }

    footer {
        width: 100%;
        height: auto;
        padding-top: 30px;
    }

    footer .personal-links {
        display: none;
    }

}

@media only screen and (max-width:688px) {
    header .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 10px;
        padding-bottom: 0;
    }

    header .container h1 {
        padding: 0;
        font-size: 24px;
        text-align: center;

    }

    header .container img {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    header .container .cover-page {
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .cover-page p {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 16px;
        text-align: left;
    }

    /* Main start */
    main {
        padding: 10px;
    }

    main .menu {
        margin: 0;
        margin-bottom: 20px;
    }

    main .main-body {
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* row-gap: 24px;
        column-gap: 24px; */
    }

    footer {
        margin-bottom: 0;
        padding: 30px 0;
    }


    footer .services {
        display: flex;
        flex-direction: column;
    }

    .services span {
        padding: 10px 0;
    }

    .personal-links {
        display: none;
    }
}