body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 1321px;
    height: 646px;
    border-radius: 20px;
    margin: 50px 110px;
    justify-content: center;
    color: #FFFFFF;
    background-color: black;
}

.container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
}

.container img {
    width: 620px;
    height: 645px;
    padding-left: 30px;
}

/*------------------
 Cover page article
 ------------------ */
.cover-page {
    width: 531px;
    height: 424px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 106px;
    margin-bottom: 111px;

}

.cover-page p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;
}

/*--------------
 Menu Bar Styles
 ---------------*/
.main-body {
    display: flex;
    margin: 74px 110px;
}

.menu {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 240px;
    padding: 30px;
    margin-right: 10px;
}

.menu p {
    display: block;
    text-align: center;
    background-color: white;
    padding: 17px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    transition: background-color 0.5s ease-in-out;

}

.menu p:first-child {
    margin-top: 0;
}

.menu p:hover {
    background-color: #DD0000;
}

.menu p a {
    text-decoration: none;
    color: black;
}

/* #upcoming-btn {
    background-color: #DD0000;
    text-decoration: none;
    padding: 17px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    color: black;
}

#all-group-btn {
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 17px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    color: black;
}

#blog-btn {
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 17px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    color: black;
} */

/* <!-----------------
    Blog part start 
    -----------------> */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.blog {
    border: 1px solid rgb(184, 184, 184);
    width: 291px;
    border-radius: 10px;
}

.transfer a {
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 16px;
    font-weight: 400;
}

.blog img {
    width: 291px;
    height: 175px;
    /* width: 291px;
    height: 175px; */
    border-radius: 10px 10px 0px 0px;
}

.blog-info {
    align-items: center;
    padding-left: 20px;
}

.blog-info p {
    width: 272px;
    height: 54px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 143px;
    height: 26px;
}

/*--------------------
 Footer part start  
 --------------------*/
footer {
    color: #FFFFFF;
    background-color: black;
    height: 444px;
}

footer h2 {
    font-size: 40px;
    padding: 130px 700px 30px;
}

.services {
    color: #B9B9B9;
    padding: 20px 420px;
    font-size: 14px;
    font-weight: 500;
}

.services span {
    margin-right: 15px;
}

/* Personal Link */
.personal-links {
    display: flex;
    justify-content: center;
}

.personal-links span {
    padding: 0 10px;
}

.fa-brands {
    color: #FFFFFF;
    font-size: 24px;
}

/*----------------
 Media Queries 
 ----------------*/

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .respo {
        width: 100%;
    }

    .container {
        flex-direction: column;
        background-color: #DD0000;
        grid-template-columns: repeat(1, 1fr);
    }

}